.parallel-table {
	width:100%;
	padding:20px;

	.column {
		float:left;
		width:calc(100% / 8);
		
		.header {
			height: 20px;
			line-height: 20px;
			padding-left:30px;
			font-weight: bold;
			text-align: center;
		}
		.cell {
			height: 20px;
			line-height: 20px;

			@include fs-textSans(1);
			
			

			span {
				display: inline-block;
			}

			.country {
				width:30px;
			}
			.value {
				width:calc(100% - 30px);
				position: relative;
				
				text-align: center;
				div.bar {
					position:absolute;
					top:0;
					bottom:0;
					background-color: #ddd;
					z-index: -1;
					opacity: .7;

					-webkit-transition: background-color 250ms linear;
				    -moz-transition: background-color 250ms linear;
				    -o-transition: background-color 250ms linear;
				    -ms-transition: background-color 250ms linear;
				    transition: background-color 250ms linear;
				}

				.bar.africa {
					background-color:$africa;
				}
				.bar.europe {
					background-color:$europe;
				}
				.bar.namerica {
					background-color:$namerica;
				}
				.bar.samerica {
					background-color:$samerica;
				}
				.bar.oceania {
					background-color:$oceania;
				}
				.bar.asia {
					background-color:$asia;
				}


				b {
					position:absolute;
					z-index: 999;
					margin-left: -10px;
					font-weight: normal;
					display: none;
					//padding-right:3px;
				}
			}

			
		}
		.cell.opaque {
			opacity: 0.5;
			.bar {
				background-color:#ddd !important
			}
		}
		.cell.highlight {
			b {
				display: inline;
			}
		}
	}

}